header {
    margin-top: 6% !important;
}

.card {
    margin-left: 5%;
}

.rating {
    margin-top: 2% !important;
}

.checked {
    color: orange;
}

.price {
    margin-top: 2%;
}

.row {
    margin-bottom: 3% !important;
}

textarea {
    margin-bottom: 1%;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}

.mx-auto {
    margin-top: 2%;
    margin-bottom: 1%;
}
